

@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@1,900&family=Fugaz+One&display=swap');
body{
    margin: 0;
}

*{
    margin: 0;
}

section{
    width: 100%;
    min-height: 100vh;
    background-color: #f3f0f0;
}

.header{
    width: 100%;
    height: 10vh;
    display: flex;
    background-color: #1e1e1e;
    margin: 0px;
    position: fixed;
    z-index: 999;
}

.header .logo{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header .logo.active{
    transition: 0.5s linear;
    display: none;
}

.header .toggler{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #DF4B5A;
    z-index: 15;
    
}

.header .toggler .fas{
    font-size: 25px;
    color: #DF4B5A;
    cursor: pointer;
    transition: 0.5s linear;
}

.header .toggler .fas:hover{
    color: #519992;
}

.menu{
    transition: 0.3s linear all;
    width: 0px;
    position: fixed;
    z-index: 9;
    margin-top: 10vh;
    height: 90vh;   
}

.menu a{
    transition: 0.4s linear all;
    display: none;
    color: transparent;
    border: none;
}


.buttons{
    width: 100%;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu.active{
    transition: 0.3s linear all;
    width: 100%;
    z-index: 9;
    height: 90vh;
    margin-top: 10vh;
    display: block;
    background-color: #2c2c2c;
    justify-content: center;
    align-items: center;
}

.menu.active a{
    margin: 25px;
    transition-delay: 0.3s;
    transition: 0.5s linear all;
    display: flex;
    color: #DF4B5A;
    text-decoration: none;
    width: 290px;
    padding: 5px;
    border: 3px solid #DF4B5A;
    border-radius: 7px;
    justify-content: center;
    align-items: center;
    font-family: 'Exo 2', sans-serif;   
}


.menu.active a:hover{
    border: 3px solid #519992;
    color: #519992;
}

.header .logo img{
    width: 150px;
    cursor: pointer;
    z-index: 10;
}


#home{
    width: 100%;
    height: 100vh;
    background: url(bg.jpg) center no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: static;
    animation: anim 60s linear infinite;
    transition: 0.3s linear;
    display: flex;
    justify-content: center;
    align-items: center;

}

#home h1{
    margin: 0;
    font-size: 5em;
    color: #DF4B5A;
    font-family: 'Exo 2', sans-serif;
    word-spacing: 3px;
    padding: 10px;
}

#home h2{
    margin: 0;
    font-size: 2em;
    color: #519992;
    font-family: 'Exo 2', sans-serif;
    padding: 10px;
    margin-bottom: 25px;
}



#home h3 a{
    border: 3px solid #DF4B5A;
    padding: 5px 15px;
    border-radius: 10px;
    margin: 10px;
    color: #DF4B5A;
    cursor: pointer;
    text-decoration: none;
    transition: 0.5s linear;
    font-family: 'Exo 2', sans-serif;
}

#home h3 a:hover{
    border: 3px solid #519992;
    color: #519992;
}

@keyframes anim {
    0%{
        background-size: 2000px;
    }
    50%{
      background-size: 2500px;
    }
  
    100%{
      background-size: 2000px;
    }
  }

.xd{
    animation-delay: 2s;
}



.dark{
    background-color: #2c2c2c;
}

section .title{
    width: 100%;
    font-size: 5vh;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #1e1e1e;
    font-family: 'Exo 2', sans-serif; 
}


.dark .title{
    width: 100%;
    height: 10vh;
    font-size: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: 'Exo 2', sans-serif; 
}


.line{
    width: 100%;
    height: 2vh;
    display: flex;
    justify-content: center;
}

.line .ln{
    display: block;
    border-radius: 3px;
    height: 8px;
    width: 20%;
    background-color: #DF4B5A;
}

.mgr{
    width: 100%;
    height: 10vh;
    display: block;
}

@media screen and (max-width: 500px){
    section .title{
        font-size: 3vh;
    }
    .dark .title{
        font-size: 3vh;
    }

    .header .toggler{
        justify-content: flex-end;
        padding: 7px;
    }

    .benefits .content .block{
        display: block;
    }
}


#about{
    min-height: 100vh;
}

#about .content{
    margin-top: 7vh;
    width: 100%;
    min-height: 80vh;
    display: flex;
    justify-content: center;
}

#about .content .block{
    width: 70%;
    display: flex;
}


#about .content .block .text{
    width: 55%;
    color: white;
    display: flex;
    justify-content: center;
}

#about .content .block .text .bck{
    width: 80%;
    display: flex;
    height: 300px;
    justify-content: center;
    align-items: center;
}

#about .content .block .text .bck strong{
    color: #519992;
}

#about .content .block .crit{
    margin-top: 4vh;
    width: 45%;
    color: white;
    display: flex;
    justify-content: center;
    margin-bottom: 4vh;
}

#about .content .block .crit ul{
    list-style: square outside;
}

body::-webkit-scrollbar {
    width: 1em;
    background-color: #1e1e1e;
}


body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}


body::-webkit-scrollbar-thumb {
    background: linear-gradient(transparent, #DF4B5A);
    border-radius: 10px;
}   



@media screen and (max-width: 735px){
    #about .content .block{
        display: block;
    }

    #about .content .block .text{
        width: 100%;
    }


    #about .content .block .crit{
        width: 100%;
    }
}


.list{
    display: block;
}


#benefits .content{
    margin-top: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
}

#benefits .content .block{
    min-height: 80vh;
    display: flex;
    width: 80%;
    justify-content: center;
}


#benefits .content .block .card{
    width: 300px;
    height: 330px;
    border: 4px solid #DF4B5A;
    border-radius: 10px;
    margin: 20px;
}


#benefits .content .block .card .img{
    font-size: 8em;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    margin: 0;
}

#benefits .content .block .card .img img{
    padding: 30px;
    width: 225px;
    display: flex;
    justify-content: center;
    margin: 0;
}


#benefits .content .block .card .text{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Exo 2', sans-serif; 
}


@media screen and (max-width: 1000px){
    #benefits .content{
        display: flex;
        justify-content: center;
        margin: 0;
    }
    #benefits .content .block{
        width: 300px;
        display: block;
    }

    #benefits .content .block .card{
        margin: 0;
        margin-bottom: 35px;
    }
}

#social .content{
    width: 100%;
    min-height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
}


#social .content .block{
    width: 80%;
    display: flex;
    justify-content: center;
}

#social .content .block .discord{
    width: 400px;
    height: 25vh;
}

#social .content .block .discord .icon{
    width: 65px;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    font-size: 50px;
    padding: 3px;
    border: 4px solid #DF4B5A;
    color: #DF4B5A;
    background-color: #f3f0f0;
}

#social .content .block .discord .conte{
    width: 80%;
    min-height: 100%;
    border: 4px solid #DF4B5A;
    border-radius: 10px;
    transform: translateX(32px) translateY(-8px);
    z-index: -20;
    padding: 7px;
}

#social .content .block .discord .conte .atte{
    margin-top: 8px;
}

#social .content .block .discord .conte .buttone{
    transform: skewX(-15deg);
    margin-top: 8px;
    width: 225px;
    height: 50px;
    background-color: #DF4B5A;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 17px;
    margin-right: 15px;
    transition: 0.3s linear;
    float: right;
}

#social .content .block .discord .conte .buttone:hover{
    background-color: #519992;
}


#social .content .block .discord .conte .buttone .join{
    text-decoration: none;
    color: #2c2c2c;
}




#social .content .block .telegram{
    width: 400px;
    height: 25vh;
}

#social .content .block .telegram .icon{
    width: 65px;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    font-size: 50px;
    padding: 3px;
    border: 4px solid #519992;
    color: #519992;
    background-color: #f3f0f0;
}

#social .content .block .telegram .conte{
    width: 80%;
    min-height: 100%;
    border: 4px solid #519992;
    border-radius: 10px;
    transform: translateX(32px) translateY(-8px);
    z-index: -20;
    padding: 7px;
}

#social .content .block .telegram .conte .atte{
    margin-top: 8px;
}

#social .content .block .telegram .conte .buttone{
    transform: skewX(-15deg);
    margin-top: 8px;
    width: 225px;
    height: 50px;
    background-color: #519992;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 17px;
    margin-right: 15px;
    transition: 0.3s linear;
    float: right;
}

#social .content .block .telegram .conte .buttone:hover{
    background-color: #DF4B5A;
}


#social .content .block .telegram .conte .buttone .join{
    text-decoration: none;
    color: #2c2c2c;
}


@media screen and (max-width: 1200px){
    #social .content .block{
        width: 405px;
        display: block;
        margin-bottom: 75px;
    }

    #social .content .block .telegram{
        margin-top: 110px;
    }
}


@media screen and (max-width: 450px){
    #social .content .block{
        width: 350px;
        margin-bottom: 75px;
    }
    #social .content .block .discord{
        width: 350px;
    }
    #social .content .block .telegram{
        width: 350px;
    }

    #social .content .block .telegram .conte .buttone{
        margin-top: 7px;
    }
}

#leaderbord, .leaderbord{
    display: none;
}



#personal .content{
    margin-top: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
}

#personal .content .block{
    min-height: 80vh;
    display: flex;
    width: 80%;
    justify-content: center;
}


#personal .content .block .carda{
    width: 300px;
    height: 360px;
    border: 4px solid #DF4B5A;
    border-radius: 10px;
    margin: 20px;
}


#personal .content .block .carda .top{
    font-size: 8em;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    margin: 0;
}

#personal .content .block .carda .top img{
    padding: 30px;
    width: 225px;
    display: flex;
    justify-content: center;
    margin: 0;
    
}


#personal .content .block .carda .text{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Exo 2', sans-serif; 
    color: #DF4B5A;
}

#personal .content .block .carda .text2{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Exo 2', sans-serif; 
    color: #519992;
}


@media screen and (max-width: 1000px){
    #personal .content{
        display: flex;
        justify-content: center;
        margin: 0;
    }
    #personal .content .block{
        width: 300px;
        display: block;
    }

    #personal .content .block .carda{
        margin: 0;
        margin-bottom: 35px;
    }
}


